<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".user.NewPredictionActivity"
            android:exported="false" />
        <activity
            android:name=".user.PredictionResultActivity"
            android:exported="false" />
        <activity
            android:name=".user.PatientProfileActivity"
            android:exported="false" />
        <activity
            android:name=".user.HomeRemediesActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorChatActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserChatActivity"
            android:exported="false" />
        <activity
            android:name=".user.DoctorListActivity"
            android:exported="false" />
        <activity
            android:name=".UserDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".LanguageManager"
            android:exported="false" />
        <activity
            android:name=".DoctorLoginActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".CallingActivity"
            android:exported="false" />
        <activity
            android:name=".VIdeoConsultation"
            android:exported="false" />
        <activity
            android:name=".PredictionActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DeleteProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:exported="false"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".ChangePasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:exported="false"
                android:value=".UserProfileActivity" />
        </activity>
        <activity android:name=".UpdateEmailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:exported="false"
                android:value=".UserProfileActivity" />
        </activity>
        <activity android:name=".UploadProfilePicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:exported="false"
                android:value=".UserProfileActivity" />
        </activity>
        <activity android:name=".ForgotPasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:exported="false"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".UserProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:exported="false"
                android:value=".UserProfileActivity" />
        </activity>
        <activity android:name=".EditProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:exported="false"
                android:value=".UserProfileActivity" />
        </activity>
        <activity android:name=".RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:exported="false"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.sickpredict.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>